#map{
  height: 700px;
}

.legend {
  line-height: 24px;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px; 
}
.legend i {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 8px;
  opacity: 0.5;
}
